In [1]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm
import matplotlib.pyplot as plt

In [2]:
tst = 1

In [3]:
dir1 = '../repeats/'+str(tst)+'/mammals/'
# os.listdir(dir1)
fils = os.listdir(dir1)
fils = [f for f in fils if '.out' in f]
fils = [f for f in fils if '_comb.csv' not in f]
fils

['Tammar_foc.fasta.out',
 'Mouse_foc.fasta.out',
 'Human_foc.fasta.out',
 'Echidna_foc.fasta.out',
 'Elephant_foc.fasta.out',
 'Brushtail_foc.fasta.out',
 'Opossum_foc.fasta.out',
 'Agilis_foc.fasta.out',
 'Platypus_foc.fasta.out',
 'Koala_foc.fasta.out']

In [4]:
dee = []
for fil in fils:
    with open(dir1+fil) as f:
        lines = f.readlines()
        infie = []
        rend = 10
        rend = len(lines)
        for i in tqdm(range(3,rend)):
            info = lines[i].split(' ')
            info = [e for e in info if e != '']
            info = [e.replace('\n','') for e in info]
            infie.append(info)
        df = pd.DataFrame(infie)
        df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
        df.columns = ['SW_score', 'perc_div', 'perc_del', 'perc_ins', 'query_seq',
                     'qpos_begin', 'qpos_end', 'q(left)', 'match', 'matching_repeat', 
                      'repeat_class', 'rpos_begin', 'rpos_end', 'r(left)', 'ID']
        df['file'] = fil.replace('.fa.out','')
        dee.append(df)
df = pd.concat(dee)
#         df.to_csv(dir1+fil+'.csv', index=False)

100%|████████████████████████████████████████| 76/76 [00:00<00:00, 68375.61it/s]
100%|████████████████████████████████████████| 74/74 [00:00<00:00, 70444.51it/s]
100%|████████████████████████████████████████| 70/70 [00:00<00:00, 53121.27it/s]
100%|██████████████████████████████████████| 204/204 [00:00<00:00, 61344.85it/s]
100%|████████████████████████████████████████| 66/66 [00:00<00:00, 48917.49it/s]
100%|████████████████████████████████████████| 76/76 [00:00<00:00, 33771.28it/s]
100%|████████████████████████████████████████| 69/69 [00:00<00:00, 63886.75it/s]
100%|████████████████████████████████████████| 81/81 [00:00<00:00, 65561.29it/s]
100%|██████████████████████████████████████| 160/160 [00:00<00:00, 76573.33it/s]
100%|████████████████████████████████████████| 75/75 [00:00<00:00, 62156.25it/s]

In [5]:
dir2 = '../extseq/'+str(tst)+'/'
os.listdir(dir2)
reg = pd.read_csv(dir2+'regions.csv')
reg.head(2)

,nm,gdrpr,anm,cnf,ccc,st,en,dr,est,een,stn,enn
0,Human,../refchrs/,NaN,Hs_1.fa,1,83865024,84389957,+,84053062,84103062,0,524933
1,Mouse,../refchrs/,NaN,Mm_3.fa,3,146350950,146689764,-,146493715,146543715,0,338814

In [6]:
df['file'].iloc[i]

'Mouse_foc.fasta.out'

In [7]:
l_sp = []
l_st = []
l_en = []
for i in range(len(df['file'])):
    #
    fn = df['file'].iloc[i]
    fn1 = fn.replace('_foc.fasta.out','')
    l_sp.append(fn1)
    #
    l_st.append(reg[reg['nm']==fn1]['st'].iloc[0])
    l_en.append(reg[reg['nm']==fn1]['en'].iloc[0])
    #
df['spec'] = l_sp
df['reg_st'] = l_st
df['reg_en'] = l_en

In [8]:
df2 = df
#
othename = 'Other\nrepeat'
SINE = ['SINE/Alu', 'SINE/B4', 'SINE/B2', 'SINE/MIR']
LINE = ['LINE/L1']
LTR = ['LTR/ERVL-MaLR', 'LTR/ERVK', 'LTR/ERVL', 'LTR/ERV1']
SIMP = ['Simple_repeat']
SAT = ['Satellite']
LCOM = ['Low_complexity']
OTH = ['DNA/hAT-Charlie']
rep_group = []
# for r in range(len(df2['repeat_class'])):
#     if df2.iloc[r]['repeat_class'] in SINE:
#         rep_group.append(othename)
#     elif df2.iloc[r]['repeat_class'] in LINE:
#         rep_group.append('LINE')
#     elif df2.iloc[r]['repeat_class'] in LTR:
#         rep_group.append('LTR')
#     elif df2.iloc[r]['repeat_class'] in SIMP:
#         rep_group.append(othename)
#     elif df2.iloc[r]['repeat_class'] in SAT:
#         rep_group.append(othename)
#     elif df2.iloc[r]['repeat_class'] in LCOM:
#         rep_group.append(othename)
#     elif df2.iloc[r]['repeat_class'] in OTH:
#         rep_group.append(othename)
#     else:
#         rep_group.append('Prob.')
for r in range(len(df2['repeat_class'])):
    # if 'SINE/MIR' in df2.iloc[r]['repeat_class']:
    #     rep_group.append('SINE/MIR')
    if 'SINE' in df2.iloc[r]['repeat_class']:
        rep_group.append('SINE')
    elif 'LINE/L2' in df2.iloc[r]['repeat_class']:
        rep_group.append('LINE/L2')
    elif 'LINE' in df2.iloc[r]['repeat_class']:
        rep_group.append('Oth. LINE')
    elif 'LTR' in df2.iloc[r]['repeat_class']:
        rep_group.append('LTR')
    elif 'SIMP' in df2.iloc[r]['repeat_class']:
        rep_group.append(othename)
    elif 'Sat' in df2.iloc[r]['repeat_class']:
        rep_group.append(othename)
    elif 'Low_' in df2.iloc[r]['repeat_class']:
        rep_group.append(othename)
    elif 'DNA' in df2.iloc[r]['repeat_class']:
        rep_group.append(othename)
    elif 'tRNA' in df2.iloc[r]['repeat_class']:
        rep_group.append(othename)
    else:
        rep_group.append('Prob.')
df2['rep_group'] = rep_group

In [9]:
# sorted(list(df2['repeat_class'].unique()))

In [10]:
df2.to_csv(dir1+'rm_spec_r_comb.csv', index=False, sep='\t')

In [11]:
df2.groupby(['repeat_class'])['file'].agg('count')

repeat_class
DNA/TcMar-Tc1        12
DNA/TcMar-Tigger     23
DNA/hAT-Ac            1
DNA/hAT-Charlie      32
LINE/CR1             58
LINE/Dong-R4          5
LINE/L1              61
LINE/L2             320
LINE/Penelope         1
LINE/RTE-BovB        12
LINE/RTE-X            5
LTR                   3
LTR/ERV1              9
LTR/ERVK             23
LTR/ERVL              6
LTR/ERVL-MaLR        33
LTR/Gypsy             3
SINE/Alu             17
SINE/B2               5
SINE/B4               5
SINE/MIR            299
SINE/tRNA-RTE         2
Satellite             4
Unknown               3
tRNA                  9
Name: file, dtype: int64

In [12]:
df2.groupby(['rep_group'])['file'].agg('count')

rep_group
LINE/L2          320
LTR               77
Oth. LINE        142
Other\nrepeat     81
Prob.              3
SINE             328
Name: file, dtype: int64

In [13]:
# df2[df2['rep_group']=='Other\nrepeat']

In [14]:
df2['spec'].unique()

array(['Tammar', 'Mouse', 'Human', 'Echidna', 'Elephant', 'Brushtail',
       'Opossum', 'Agilis', 'Platypus', 'Koala'], dtype=object)

In [15]:
ldf = df2[df2['spec']=='Koala']
ldf['qpos_begin'] = ldf['qpos_begin'].astype(int)
ldf['qpos_end'] = ldf['qpos_end'].astype(int)
ldf = ldf[ldf['qpos_begin']>21000]
ldf = ldf[ldf['qpos_begin']<29000]
ldf

/tmp/ipykernel_28364/274771903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ldf['qpos_begin'] = ldf['qpos_begin'].astype(int)
/tmp/ipykernel_28364/274771903.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ldf['qpos_end'] = ldf['qpos_end'].astype(int)

,SW_score,perc_div,perc_del,perc_ins,query_seq,qpos_begin,qpos_end,q(left),match,matching_repeat,repeat_class,rpos_begin,rpos_end,r(left),ID,file,spec,reg_st,reg_en,rep_group
31,274,21.5,1.3,7.0,Pc_MSTS01000033.1.fa,21113,21187,(28814),+,MIR,SINE/MIR,113,183,(79),27,Koala_foc.fasta.out,Koala,11084609,11571851,SINE
32,341,25.0,7.4,3.6,Pc_MSTS01000033.1.fa,21273,21380,(28621),+,L2a,LINE/L2,3315,3426,(0),28,Koala_foc.fasta.out,Koala,11084609,11571851,LINE/L2
33,241,30.9,3.5,1.1,Pc_MSTS01000033.1.fa,21567,21651,(28350),C,MamRTE1,LINE/RTE-BovB,(1576),2236,2150,29,Koala_foc.fasta.out,Koala,11084609,11571851,Oth. LINE
34,530,23.9,12.9,1.0,Pc_MSTS01000033.1.fa,21930,22107,(27894),+,MIRc,SINE/MIR,6,203,(5),30,Koala_foc.fasta.out,Koala,11084609,11571851,SINE
35,421,21.2,13.9,1.4,Pc_MSTS01000033.1.fa,22312,22440,(27561),C,MIRc,SINE/MIR,(6),262,118,31,Koala_foc.fasta.out,Koala,11084609,11571851,SINE
36,184,26.0,2.0,2.0,Pc_MSTS01000033.1.fa,22958,23008,(26993),+,L3,LINE/CR1,4045,4095,(4),32,Koala_foc.fasta.out,Koala,11084609,11571851,Oth. LINE
37,199,33.1,0.9,5.6,Pc_MSTS01000033.1.fa,28983,29094,(20907),C,L2d,LINE/L2,(0),3425,3319,33,Koala_foc.fasta.out,Koala,11084609,11571851,LINE/L2