In [5]:
import os
import subprocess
from Bio import AlignIO
import pandas as pd

In [6]:
tst = 1
wrky = 6

In [7]:
dirrie = '../test'+str(tst)+'/'

In [33]:
df_r = pd.read_csv('../extseq/'+str(tst)+'/regions.csv')
df_r['len'] = df_r['enn']-df_r['stn']
# df_r.head()
df_rs = df_r[['nm','len']]
lend = df_rs.set_index('nm').to_dict()['len']
lend

{'Human': 524933,
 'Mouse': 338814,
 'Elephant': 475453,
 'Echidna': 653632,
 'Platypus': 601064,
 'Agilis': 458730,
 'Opossum': 505792,
 'Koala': 487242,
 'Tammar': 487499,
 'Brushtail': 530039}

In [29]:
df_b = pd.read_csv(dirrie+'coords_brd.tsv', sep='\t')
# df_b.head()

In [41]:
df_bg = df_b.groupby(['REF_NAME','QUERY_NAME'])['REF_LENGTH','QUERY_LENGTH'].agg(['sum'])
df_bg = df_bg.reset_index(drop=False)
df_bg = df_bg.droplevel(0, axis=1) 
df_bg.columns = ['REF_NAME','QUERY_NAME','REF_LENGTH','QUERY_LENGTH']
df_bg['r_nm'] = [r.split('_')[0] for r in df_bg['REF_NAME']]
df_bg['q_nm'] = [q.split('_')[0] for q in df_bg['QUERY_NAME']]
df_bg['r_ln'] = [lend[r] for r in df_bg['r_nm']]
df_bg['q_ln'] = [lend[q] for q in df_bg['q_nm']]
df_bg['r_pct'] = round((( df_bg['REF_LENGTH'] / df_bg['r_ln'] ) *100),1)
df_bg['q_pct'] = round((( df_bg['QUERY_LENGTH'] / df_bg['q_ln'] ) *100),1)
df_bg

/tmp/ipykernel_56991/1598358821.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_bg = df_b.groupby(['REF_NAME','QUERY_NAME'])['REF_LENGTH','QUERY_LENGTH'].agg(['sum'])

,REF_NAME,QUERY_NAME,REF_LENGTH,QUERY_LENGTH,r_nm,q_nm,r_ln,q_ln,r_pct,q_pct
0,Agilis_brd.fasta,Opossum_brd.fasta,449456,447199,Agilis,Opossum,458730,505792,98.0,88.4
1,Echidna_brd.fasta,Platypus_brd.fasta,548375,521857,Echidna,Platypus,653632,601064,83.9,86.8
2,Elephant_brd.fasta,Echidna_brd.fasta,14977,15616,Elephant,Echidna,475453,653632,3.2,2.4
3,Human_brd.fasta,Mouse_brd.fasta,199430,195764,Human,Mouse,524933,338814,38.0,57.8
4,Koala_brd.fasta,Tammar_brd.fasta,464019,461232,Koala,Tammar,487242,487499,95.2,94.6
5,Mouse_brd.fasta,Elephant_brd.fasta,113269,119937,Mouse,Elephant,338814,475453,33.4,25.2
6,Opossum_brd.fasta,Koala_brd.fasta,420536,427894,Opossum,Koala,505792,487242,83.1,87.8
7,Platypus_brd.fasta,Agilis_brd.fasta,32035,32204,Platypus,Agilis,601064,458730,5.3,7.0
8,Tammar_brd.fasta,Brushtail_brd.fasta,450744,448834,Tammar,Brushtail,487499,530039,92.5,84.7

In [42]:
df_f = pd.read_csv(dirrie+'coords_foc.tsv', sep='\t')
# df_f

In [43]:
df_fg = df_f.groupby(['REF_NAME','QUERY_NAME'])['REF_LENGTH','QUERY_LENGTH'].agg(['sum'])
df_fg = df_fg.reset_index(drop=False)
df_fg = df_fg.droplevel(0, axis=1) 
df_fg.columns = ['REF_NAME','QUERY_NAME','REF_LENGTH','QUERY_LENGTH']
# df_fg['r_nm'] = [r.split('_')[0] for r in df_fg['REF_NAME']]
# df_fg['q_nm'] = [q.split('_')[0] for q in df_fg['QUERY_NAME']]
# df_fg['r_ln'] = [lend[r] for r in df_fg['r_nm']]
# df_fg['q_ln'] = [lend[q] for q in df_fg['q_nm']]
# df_fg['r_pct'] = round((( df_fg['REF_LENGTH'] / df_fg['r_ln'] ) *100),1)
# df_fg['q_pct'] = round((( df_fg['QUERY_LENGTH'] / df_fg['q_ln'] ) *100),1)
df_fg['r_pct'] = round((( df_fg['REF_LENGTH'] / 50000 ) *100),1)
df_fg['q_pct'] = round((( df_fg['QUERY_LENGTH'] / 50000 ) *100),1)
df_fg

/tmp/ipykernel_56991/2854183902.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_fg = df_f.groupby(['REF_NAME','QUERY_NAME'])['REF_LENGTH','QUERY_LENGTH'].agg(['sum'])

,REF_NAME,QUERY_NAME,REF_LENGTH,QUERY_LENGTH,r_pct,q_pct
0,Agilis_foc.fasta,Opossum_foc.fasta,48820,47620,97.6,95.2
1,Echidna_foc.fasta,Platypus_foc.fasta,37958,38236,75.9,76.5
2,Elephant_foc.fasta,Echidna_foc.fasta,286,258,0.6,0.5
3,Human_foc.fasta,Mouse_foc.fasta,13618,13243,27.2,26.5
4,Koala_foc.fasta,Tammar_foc.fasta,50764,50188,101.5,100.4
5,Mouse_foc.fasta,Elephant_foc.fasta,4072,4375,8.1,8.8
6,Opossum_foc.fasta,Koala_foc.fasta,42560,44686,85.1,89.4
7,Platypus_foc.fasta,Agilis_foc.fasta,2274,2283,4.5,4.6
8,Tammar_foc.fasta,Brushtail_foc.fasta,43754,43899,87.5,87.8